footer(class="footer py-md-5 pt-md-3 pb-sm-5")
    div(class="container")
        div(class="row p-sm-4 px-3 py-3")
            div(class="col-lg-4 footer-top mt-md-0 mt-sm-5")
                h2: a(href="index.html" class="navbar-brand") Intense
                div(class="fv3-contact mt-2")
                    p: a(href="mailto:example@gmail.com") info@example.com
                div(class="fv3-contact my-2")
                    p +503 7178-0173
                div(class="fv3-contact")
                    p +90 nsequi desctre, <br> 834 Main street 7353.
            div(class="col-lg-2 col-md-6 mt-lg-0 mt-4")
                div(class="footerv2-w3ls")
                    h3(class="mb-3 w3f_title") Navegación
                    <hr>
                    ul(class="list-w3pvtits")
                        li: a(href="/") Inicio
                        li(class="my-2"): a(href="acerca-de.html") Acerca De
                        li(class="my-2"): a(href="portafolio.html") Portafolio
                        li(class="mb-2"): a(href="blog.html") Blog
                        li: a(href="contacto.html") Contáctenos
            div(class="col-lg-2  col-md-6 mt-lg-0 mt-4")
                div(class="footerv2-w3ls")
                    h3(class="mb-3 w3f_title") Enlaces
                    <hr>
                    ul(class="list-w3pvtits")
                        li: a(href="acerca-de.html") Nuestra Misión
                        li(class="my-2"): a(href="blog.html") publicaciones
                        li(class="my-2"): a(href="portafolio.html") Explorar
                        li(class="mb-2"): a(href="contacto.html") Encuentrenos
                        li: a(href="/") Politicas de privacidad
            div(class="col-lg-2  col-md-6 mt-lg-0 mt-4")
                div(class="footerv2-w3ls")
                    h3(class="mb-3 w3f_title") Enlaces
                    <hr>
                    ul(class="list-w3pvtits")
                        li: a(href="acerca-de.html") Nuestra Misión
                        li(class="my-2"): a(href="blog.html") publicaciones
                        li(class="my-2"): a(href="portafolio.html") Explorar
                        li(class="mb-2"): a(href="contacto.html") Encuentrenos
                        li: a(href="/") Politicas de privacidad
            div(class="col-lg-2  col-md-6 mt-lg-0 mt-4")
                div(class="footerv2-w3ls")
                    h3(class="mb-3 w3f_title") Enlaces
                    <hr>
                    ul(class="list-w3pvtits")
                        li: a(href="acerca-de.html") Nuestra Misión
                        li(class="my-2"): a(href="blog.html") publicaciones
                        li(class="my-2"): a(href="portafolio.html") Explorar
                        li(class="mb-2"): a(href="contacto.html") Encuentrenos
                        li: a(href="/") Politicas de privacidad

                        